<template>
  <div>
      <form @submit.prevent="login">
        <input type="email" v-model="form.email" placeholder="Email..." /><br />
        <input type="password" v-model="form.password" placeholder="Password..."/><br />
        <button>Login</button>
      </form>
  </div>

</template>

<script>
// import axios from 'axios';
// axios.defaults.withCredentials = true;
// axios.defaults.baseURL = 'http://localhost:8000';
export default {
  data:() => ({
      form: {
        email: "omegados@hotmail.com",
        password: "123123"
      }
  }),
  created() {
    // axios.get('/api/user')
    //   .then(res =>{
    //     this.user = res.data;
    //   })
    //   .catch(error => {
    //     console.log(error.response.data);
    //   });
  },
  methods: {
    // logout() {
    //   axios.post('/logout')
    //     .then(() =>{
    //       this.user = {};
    //     });
    // },
    async login() {
      await this.$store.dispatch("login", this.form);
      return this.$router.replace("/");   // this.$router.push
      // axios.get('/sanctum/csrf-cookie')
      //   .then(() => {
      //     axios.post("/login", this.form)
      //       .then(res => {
      //         this.user = res.data;
      //     });
      // });
    }
  }
}
</script>

<style lang="css" scoped>
</style>
